.buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .buttons {
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 0;
    }

    .buttons__button {
        margin-bottom: 20px;
    }
}

.buttons__button {
    border: none;
    background-color: #ffffff00;
    color: teal;
    transition: 0.4s;
    cursor: pointer;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:active {
    color: hsl(180, 100%, 45%);
}

.buttons__button:disabled {
    color: #ccc;
    cursor: default;
}